*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem/1.5 system-ui;
  background-color: #fefefe;
  color: #333333;
}

header,
section {
  margin: 3rem;
}

[data-content='code'],
[data-content='preview'],
[data-content='logs'] {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

[data-content='code'] {
  background-color: #f8f8f8;
  color: #333333;
  outline: 3px solid transparent;
  overflow: auto;

  &:has(code:focus) {
    outline-color: #0098f1;
  }

  & code {
    display: block;
    outline: none;
  }
}

button[data-action] {
  appearance: none;
  display: inline-block;
  line-height: 1;
  min-width: 6rem;
  min-height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #fefefe;
  color: #333333;
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
  outline: 3px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline-color: #0098f1;
  }

  &:active {
    outline-color: #333333;
  }
}
